@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.container {
  background: #282828;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  text-align: center;
  background: transparent;
  width: 500px;
  height: 180px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* box-shadow: 0 0 10px; */
}
/* .wrapper::before {
  content: "";
  width: 200px;
  height: 200px;
  background: #4f22e5;
  position: absolute;
  left: -90px;
  top: -70px;
  z-index: -100;
  border-radius: 10px;
}
.wrapper::after {
  content: "";
  width: 200px;
  height: 200px;
  background: #fa046b;
  position: absolute;
  left: 350px;
  top: 80px;
  border-radius: 50%;
  z-index: -100;
} */
.wrapper h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 20px;
  left: 50px;
  outline: none;
}
.clock {
  font-size: 100px;
  /* backdrop-filter: blur(40px); */
  background: #282828;
  border: 7px solid #282828;
  box-shadow: -4px 4px 10px rgb(15, 15, 15), inset 4px 0 4px #1a1919,
    inset -4px 0 4px rgb(57, 57, 57);
  height: 100%;
  width: 100%;
  margin: 5px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.clock span {
  display: inline-block;
  text-align: center;
  position: relative;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.clock span::after {
  content: "";
  font-size: 16px;
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
}
#hrs::after {
  content: "Hours";
}
#min::after {
  content: "Minutes";
}
#sec::after {
  content: "Seconds";
}
.date {
  position: absolute;
  top: 20px;
  left: 460px;
  /* background: linear-gradient(to top,rgb(0, 60, 255),rgb(255, 0, 34)); */
  padding: 5px;
  border-radius: 10px;
}
.date span {
  background: #141414;
  margin: 10px 0;
  font-size: 16px;
  color: #fff;
  border-radius: 50%;
  box-shadow: -2px 2px 4px black;
  display: block;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.music {
  height: 300px;
  width: 600px;
  background: #f0ecec00;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  border: 1px solid white;
  box-shadow: 0 0 40px white;
  /* filter: drop-shadow(0 0 20px white); */
}
.circle {
  height: 200px;
  width: 200px;
  background: url(photo_2024-01-17_07-46-47.jpg) no-repeat center;
  background-size: cover;
  border-radius: 50%;
  animation: spin 8s linear infinite;
}
.content {
  font-family: "Noto Sans Khmer", sans-serif;
}
.content h1 {
  color: #ffff;
  font-size: 20px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*watch*/
.oval {
  width: 200px;
  height: 200px;
  background: #000;
  border-radius: 30% 5% 30% 100%;
  transform: rotate(-225deg);
  position: absolute;
  top: 25%;
}
.b {
  position: absolute;
  top: 57%;
  transform: rotate(-45deg);
}
